.row {
	flex-flow: row wrap;

	& > .x-stretch {
		flex-grow: 1;
		flex-shrink: 1;
	}

	& > .y-stretch {
		align-self: stretch;
	}

	&.justify-end {
		justify-content: end;
	}

	&.until-b {
		@media (min-width: 512px) {
			flex-flow: column;
		}
	}
}
