:root {
	--black: #1a1c2c;
	--purple: #5d275d;
	--red: #b13e53;
	--orange: #ef7d57;
	--yellow: #ffcd75;
	--lightgreen: #a7f070;
	--green: #38b764;
	--darkgreen: #257179;
	--darkblue: #29366f;
	--blue: #3b5dc9;
	--lightblue: #41a6f6;
	--cyan: #73eff7;
	--white: #f4f4f4;
	--lightgray: #94b0c2;
	--gray: #566c86;
	--darkgray: #333c57;

	accent-color: var(--lightgreen);
}
